.headerTaskContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 24px;
}

.infoTasks {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.infoTasks > div {
  height: 19px;
  width: auto;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  line-height: 1.4;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.infoTasks span[id="taskOnBoard"] {
  color: var(--blue);
}

.infoTasks span[id="finishedTask"] {
  color: var(--purple);
}
