.container {
  width: 46rem;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(-3.375rem / 2);
}

.form input {
  height: 3.375rem;
  width: 638px;
  border: none;
  border-radius: 8px;
  background-color: var(--gray-500);
  padding: 1rem;
  color: var(--gray-100);
  font-size: 1rem;
}

.form input::placeholder {
  color: var(--gray-300);
  font-size: 1rem;
}

.form button {
  height: 3.375rem;
  width: 93.09px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-dark);
  padding: 16px;

  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: all 0.8s;
}

.form button:hover {
  background-color: var(--blue);
  width: 90px;
}

.form button > img {
  height: 1rem;
  transform: rotate(30deg);
  transition: all 0.8s;
}

.form button:hover img {
  transform: rotate(0deg);
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTaskContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.infoTasks {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.infoTasks > div {
  height: 19px;
  width: 25px;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  line-height: 1.4;
  border-radius: 100px;
}

.infoTasks span[id="taskOnBoard"] {
  color: var(--blue);
}

.infoTasks span[id="finishedTask"] {
  color: var(--purple);
}

.tasks {
  width: 100%;
  margin-top: 24px;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}

.task {
  width: 100%;
  border-radius: 8px;
  background-color: var(--gray-500);
  padding: 1rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  color: var(--gray-100);
  font-weight: normal;
}

.task + .task {
  margin-top: 0.75rem;
}

.task > button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: var(--gray-300);
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.task > button:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}

.withLineThrough {
  text-decoration: line-through;
}

.unchecked {
  color: var(--blue) !important;
}

.unchecked:hover {
  color: var(--blue-dark) !important;
}

.checked {
  color: var(--purple-dark) !important;
}

.checked:hover {
  color: var(--purple) !important;
}
