.container {
  width: 46rem;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(-3.375rem / 2);
}

.form input {
  height: 3.375rem;
  width: 638px;
  border: none;
  border-radius: 8px;
  background-color: var(--gray-500);
  padding: 1rem;
}

.form input::placeholder {
  color: var(--gray-300);
}

.form button {
  height: 3.375rem;
  width: 90px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-dark);
  padding: 16px;

  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.form button > img {
  height: 1rem;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTaskContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.infoTasks {
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.infoTasks > div {
  height: 19px;
  width: 25px;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  color: var(--gray-100);
  line-height: 1.4;
  border-radius: 100px;
}

.infoTasks span[id="taskOnBoard"] {
  color: var(--blue);
}

.infoTasks span[id="finishedTask"] {
  color: var(--purple);
}

.tasks {
  width: 100%;
  margin-top: 24px;
  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}
